
    <div class="col">
        <input  class="form-control" placeholder="Buscar artista">
    </div>

    <div class="alert alert-info mt-3 text-center" role="alert" >
        <h2>No se ha realizado ninguna búsqueda</h2>
      </div>

      <div  class="card-columns mt-3 animate__animated animate__fadeIn">
        <div class="card puntero">
          <img src="assets/img/noimage.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">titulo</h5>
            <p class="card-text">
                <span class="badge badge-pill badge-primary">artista</span>
            </p>
          </div>
        </div>
    </div>  