
<div class="row animate__animated animate__fadeIn" >
    <div class="col-2">
        <img src="assets/img/noimage.png" class="img-thumbnail img-circle" >
    </div>
    <div class="col">
        <h3>artista</h3>
        <p><strong>Popularidad:</strong><span class="badge badge-pill badge-secondary">70</span></p>
        <p><strong>Seguidores:</strong><span class="badge badge-pill badge-success">1000</span></p>

        <p><strong>generos:</strong><span class="badge badge-pill badge-primary">cualquiera</span></p>

        <p>
            <a href="#" class="puntero" target="_blank">Ir a la pagina del artista</a>
        </p>
        <button routerLink="/search" class="btn btn-outline-warning">Regresar</button>
    </div>
    
</div>    

    <div class="row text-center  mt-5">
        <div class="col">
            <table class="table colorFontTable">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Album</th>
                        <th>Canción</th>
                        <th>Vista Previa</th>
                    </tr>
                </thead>   
                <tbody >
                    <tr>
                        <td>
                            <img src="assets/img/noimage.png" class="img-thumb" >
                        </td>
                        <td>album</td>
                        <td>musica</td>
                        <td>
                            frame
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
